body {
    background-color: #0b0b0b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.title {
    color: #1DB954;
    margin-top: 20px;
}

.mood-buttons {
    margin: 30px 0;
}

.mood-buttons button {
    background-color: #1DB954;
    color: black;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.mood-buttons button:hover {
    background-color: #1ed760;
}

.songs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 25px;
    padding: 30px;
    max-width: 1100px;
    margin: auto;
}

.song-card {
    background-color: #181818;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.song-card img {
    width: 100%;
    border-radius: 10px;
}

.song-card h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.song-card p {
    font-size: 14px;
    color: #b3b3b3;
}

.song-card button {
    background-color: #1DB954;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}
